<h2>User Manager</h2>
<% if (typeof message !=='undefined' ) { %>
    <div class="success-message">
        <%= message %>
    </div>
    <% } %>
        <button id="add-user-btn">Add User</button>
        <table id="user-table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <input type="hidden" name="userId" value="<%= user._id %>">
                        <td>
                            <%= user.firstName %>
                        </td>
                        <td>
                            <%= user.lastName %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.phone %>
                        </td>
                        <td>
                            <%= user.password %>
                        </td>
                        <td>
                            <%= user.role %>
                        </td>
                        <td>
                            <button class="edit-user-btn" id="edit-button" data-id="<%= user._id %>">Edit</button>
                            <form class="delete-user-form" action="/auth/deleteUser" method="POST"
                                style="display:inline;">
                                <input type="hidden" name="id" value="<%= user._id %>">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <div id="user-form-modal" class="modal">
            <div class="modal-content">
                <form id="user-form">
                    <span class="close-btn">&times;</span>
                    <input type="hidden" id="user-id" name="id">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" required>
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" required>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" required>
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" required>
                    <label for="role">Role:</label>
                    <select id="role" name="role">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>