<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>book page</title>
        <link rel="stylesheet" href="../style/css/header.css">
        <link rel="stylesheet" href="../style/css/book.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>

    <body>

        <!-- header -->

        <!-- header one -->
        <header class="header">
            <div class="header-1">
                <a href="#" class="logo"> <i class="bi bi-book"></i> LORE</a>

                <form action="#" class="search-form">
                    <input type="search" name="#" placeholder="search here..."
                        id="search-box">
                    <label for="search-box"><i class="bi bi-search"></i></label>
                </form>

                <div class="icons-sation">
                    <div id="search-btn" class="bi bi-search"></div>
                    <a href="#" class="bi bi-bookmark-fill"></a>
                    <a href="#" class="bi bi-suit-heart-fill"></a>
                </div>

            </div>

            <!-- header two -->
            <div class="header-2">
                <nav class="navbar">
                    <a href="./home.html">Home</a>
                    <a href="./home.html">Services</a>
                    <a href="./home.html">Categories</a>
                    <a href="./home.html">Admins</a>
                    <a href="./home.html">Contact </a>
                </nav>

            </div>
        </header>

        <!-- bottom navbar -->

        <nav class="bottom-navbar">
            <a href="#home" class="bi bi-house-door-fill"></a>
            <a href="#categories" class="bi bi-justify"></a>
            <a href="#Arrivals" class="bi bi-tags-fill"></a>
            <a href="#admin" class="bi bi-wechat"></a>
            <a href="#contact"></a>
        </nav>

        <!-- book -->

        <!-- book cover -->
        <div class="first">
            <div class="right">
                <div class="book-cover">
                    <div class="container noselect">
                        <div class="canvas">
                            <div class="tracker tr-1"></div>
                            <div class="tracker tr-2"></div>
                            <div class="tracker tr-3"></div>
                            <div class="tracker tr-4"></div>
                            <div class="tracker tr-5"></div>
                            <div class="tracker tr-6"></div>
                            <div class="tracker tr-7"></div>
                            <div class="tracker tr-8"></div>
                            <div class="tracker tr-9"></div>
                            <div class="tracker tr-10"></div>
                            <div class="tracker tr-11"></div>
                            <div class="tracker tr-12"></div>
                            <div class="tracker tr-13"></div>
                            <div class="tracker tr-14"></div>
                            <div class="tracker tr-15"></div>
                            <div class="tracker tr-16"></div>
                            <div class="tracker tr-17"></div>
                            <div class="tracker tr-18"></div>
                            <div class="tracker tr-19"></div>
                            <div class="tracker tr-20"></div>
                            <div class="tracker tr-21"></div>
                            <div class="tracker tr-22"></div>
                            <div class="tracker tr-23"></div>
                            <div class="tracker tr-24"></div>
                            <div class="tracker tr-25"></div>
                            <div id="card">

                                <img src="data:image/jpeg;base64,<%= img %>"
                                    alt="Book image">

                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <i id="heart" class="bi-heart"></i>
                        <i id="bookmark" class="bi bi-bookmark"></i>
                    </div>
                </div>

                <!-- book information -->
                <div class="book-info">
                    <div>
                        <div class="row">
                            <i class="fa-sharp fa-solid fa-t"></i>
                            <h2>Title:</h2>
                        </div>
                        <p><%= book.title %></p>

                    </div>

                    <div>
                        <div class="row">
                            <i class="fa-solid fa-user"></i>
                            <h2>Author Name:</h2>
                        </div>
                        <p><%= book.authorName %></p>
                    </div>

                    <div>
                        <div class="row">
                            <i class="fa-solid fa-network-wired"></i>
                            <h2>Category:</h2>
                        </div>
                        <p><%= book.category %></p>

                    </div>

                    <div>
                        <div class="row">
                            <i class="fa-regular fa-file-lines"></i>
                            <h2>Page Number:</h2>
                        </div>
                        <p><%= book.pageNumber %></p>

                    </div>

                    <div>
                        <div class="row">
                            <i class="fa-solid fa-earth-americas"></i>
                            <h2>Language:</h2>
                        </div>
                        <p><%= book.language %></p>
                    </div>

                    <div>
                        <div class="row">
                            <i class="bi bi-star"></i>
                            <h2>Number Of Download</h2>
                        </div>
                        <p><%= book.numberOfDownload %></p>
                    </div>

                </div>

            </div>

            <!-- buttons to download and read  -->

            <div class="buttons">
                <button class="btn"> Download</button>
                <a href="/book/<%= book._id %>/download"
                    class="btn btn-primary">Read</a> </div>

        </div>
        <!-- insight about the book -->
        <div class="insight">
            <h1 class="insight-heading">
                <span>Insight</span>
            </h1>
            <p><%=book.insight %></p>
        </div>

        <!-- comment -->
        <section>
            <h1 class="heading">
                <span>Comment</span>
            </h1>

            <div class="comments">

                <div class="comment-container">
                    <div class="user-date">
                        <div class="first-letter">U</div><p> User Name :</p>
                        <small>august 6, 2023</small>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Facilis veniam harum quibusdam quas aperiam
                        error iste suscipit aliquam eveniet nulla magnam
                        voluptates beatae dicta, quos recusandae facere!
                        Incidunt, dolore quisquam.</p>

                </div>

                <div class="btn-comment">
                    <button class="btn" id="show"> Add COmment</button>
                </div>

            </div>

        </section>

        <section class="add-comment">
            <form action>
                <div class="card">

                    <textarea class="card__content" name="comment"
                        placeholder="add a comment..."></textarea>

                    <div class="card__date">
                        April 15, 2022
                    </div>

                    <button class="card__arrow" type="submit">
                        <i class="fa-sharp fa-solid fa-arrow-right"></i>
                    </button>

                    <div class="close-mark" id="close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>

                </div>
            </form>
        </section>

        <script src="../style/js/scroll.main.js"></script>
        <script src="../style/js/favorite.js"></script>
    </body>

</html>