<%- include('./partials/header') %>
    <!-- book -->

    <!-- book cover -->
    <div class="first">
        <div class="left">
            <div class="book-cover">
                <div class="container noselect">
                    <div class="canvas">
                        <div class="tracker tr-1"></div>
                        <div class="tracker tr-2"></div>
                        <div class="tracker tr-3"></div>
                        <div class="tracker tr-4"></div>
                        <div class="tracker tr-5"></div>
                        <div class="tracker tr-6"></div>
                        <div class="tracker tr-7"></div>
                        <div class="tracker tr-8"></div>
                        <div class="tracker tr-9"></div>
                        <div class="tracker tr-10"></div>
                        <div class="tracker tr-11"></div>
                        <div class="tracker tr-12"></div>
                        <div class="tracker tr-13"></div>
                        <div class="tracker tr-14"></div>
                        <div class="tracker tr-15"></div>
                        <div class="tracker tr-16"></div>
                        <div class="tracker tr-17"></div>
                        <div class="tracker tr-18"></div>
                        <div class="tracker tr-19"></div>
                        <div class="tracker tr-20"></div>
                        <div class="tracker tr-21"></div>
                        <div class="tracker tr-22"></div>
                        <div class="tracker tr-23"></div>
                        <div class="tracker tr-24"></div>
                        <div class="tracker tr-25"></div>
                        <div id="card">
                            <img src="data:image/jpeg;base64,<%= image %>" alt="Book Image">
                        </div>
                    </div>
                </div>
                <div class="add">
                    <i id="heart"
                        class="bi-heart<%= foundUser.favoriteBooks.some(favBook => favBook && favBook.toString() === book._id.toString()) ? '-fill' : '' %>"
                        onclick="favorite()" data-book-id="<%= book._id %>"></i>
                    <i id="bookmark"
                        class="bi-bookmark<%= foundUser.readLaterBooks.some(readLater => readLater && readLater.toString() === book._id.toString()) ? '-fill' : '' %>"
                        onclick="readLater()" data-book-id="<%= book._id %>"></i>
                </div>
            </div>
        </div>

        <div class="right">
            <!-- book information -->

            <div class="book-info">
                <div>
                    <div class="row">
                        <i class="fa-sharp fa-solid fa-t"></i>
                        <h2>Title:</h2>
                    </div>
                    <p>
                        <%= book.title %>
                    </p>
                </div>

                <div>
                    <div class="row">
                        <i class="fa-solid fa-user"></i>
                        <h2>Author Name:</h2>
                    </div>
                    <p>
                        <%= book.authorName %>
                    </p>
                </div>

                <div>
                    <div class="row">
                        <i class="fa-solid fa-network-wired"></i>
                        <h2>Category:</h2>
                    </div>
                    <p>
                        <%= book.category %>
                    </p>
                </div>

                <div>
                    <div class="row">
                        <i class="fa-regular fa-file-lines"></i>
                        <h2>Number Of Pages:</h2>
                    </div>
                    <p>
                        <%= book.pageNumber %>
                    </p>
                </div>

                <div>
                    <div class="row">
                        <i class="fa-solid fa-earth-americas"></i>
                        <h2>Language:</h2>
                    </div>
                    <p>
                        <%= book.language %>
                    </p>
                </div>

                <div>
                    <div class="row">
                        <i class="bi bi-star"></i>
                        <h2>Review:</h2>
                    </div>
                    <p>
                        <%= averageReview %>
                    </p>
                </div>
            </div>
            <!-- buttons to download and read  -->

            <div class="buttons">
                <div class="buttons">
                    <a href="/book/<%= book._id %>/download" class="btn btn-primary">Download</a>
                    <a href="/book/<%= book._id %>/read" class="btn btn-primary">Read</a>
                </div>

                <div class="rating">
                    <div class="row">
                        <h2>Rate this book:</h2>
                    </div>
                    <form class="rate" action="/auth/rating" method="post" id="ratingForm">
                        <input type="hidden" name="book" value="<%= book._id %>" />
                        <input type="radio" id="star5" name="rate" value="5" onchange="submitForm()" />
                        <label for="star5" title="5">5 stars</label>

                        <input type="radio" id="star4" name="rate" value="4" onchange="submitForm()" />
                        <label for="star4" title="4">4 stars</label>

                        <input type="radio" id="star3" name="rate" value="3" onchange="submitForm()" />
                        <label for="star3" title="3">3 stars</label>

                        <input type="radio" id="star2" name="rate" value="2" onchange="submitForm()" />
                        <label for="star2" title="2">2 stars</label>

                        <input type="radio" id="star1" name="rate" value="1" onchange="submitForm()" />
                        <label for="star1" title="1">1 star</label>
                    </form>

                    <script>
                        function submitForm() {
                            document.getElementById('ratingForm').submit();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- insight about the book -->
    <div class="insight">
        <h1 class="insight-heading">
            <span>Insight</span>
        </h1>
        <p>
            <%= book.insight %>.
        </p>
    </div>

    <!-- comment -->
    <section>
        <h1 class="heading">
            <span>Comment</span>
        </h1>

        <div class="comments">
            <% comments.forEach(comment=> { %>
                <div class="comment-container">
                    <div class="user-date">
                        <div class="first-letter">
                            <p>
                                <% if (comment.user) { %>
                                    <%= comment.user.firstName.charAt(0) %>
                                        <% } %>
                            </p>
                        </div>
                        <p>
                            <% if (comment.user) { %>
                                <%= comment.user.firstName %>
                                    <%= comment.user.lastName %>
                                        <% } else { %>
                                            Unknown User
                                            <% } %>
                        </p>
                        <small>
                            <%= comment.formattedDate %>
                        </small>
                    </div>
                    <p>
                        <%= comment.text %>
                    </p>
                </div>
                <% }) %>

                    <div class="btn-comment">
                        <button class="btn" id="show">Add Comment</button>
                    </div>
        </div>
    </section>

    <section class="add-comment">
        <form action="/auth/addComment" method="post">
            <div class="card">
                <input type="hidden" name="book" value="<%= book._id %>">
                <textarea class="card__content" name="comment" placeholder="add a comment..."></textarea>
                <div class="card__date">
                    <%= new Date().toLocaleDateString('en-US', { month: 'short' , day: 'numeric' , year: 'numeric' }) %>
                </div>
                <button class="card__arrow" type="submit">
                    <i class="fa-sharp fa-solid fa-arrow-right"></i>
                </button>
                <div class="close-mark" id="close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
        </form>
    </section>

    <script src="../style/js/scroll.main.js"></script>
    <script src="../style/js/favorite.js"></script>

    </body>

    </html>